@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Gulzar&family=Open+Sans:ital@1&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&family=Work+Sans:ital,wght@1,200;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    padding-top:70px;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}

.section__inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.logo-docplanner {
    width: 268px;
    height: 33px;
}

.dropdown-content {
    display: none;
}

.main-menu {
    display: flex;
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0;
}

.main-header {
    background: hsla(0, 0%, 100%, .98);
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.main-header.is-sticky {
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
}

.flex1 {

    display: flex;
    justify-content: space-between;
    align-items: center
}

.main-menu a {
    color: #ababab;
    text-decoration: none;
    padding: 0 0.6em;
}

a:hover {
    color: #00b39b;
}

/*.lead__logo {
    display: block;
    margin: 0 auto;
}
*/

.flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead {
    margin: 2.0625rem auto 3.75rem;
}

h1, h2, h3, h4 {
    margin: 1em 0;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

h1 {
    font-size: 2.125rem;
    color: #00b39b;
}

.flex3 {
    display: flex;
}

.lead p {
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
    padding: 10px;
}
.services__item--marketplace {
    background: #00ccb1;
}

.services__item{
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;

}
.services .fade-elements .fade-elements__visible .services__item>* {
    opacity: 1;
    transform: translate(0);
}
.services .fade-elements .fade-elements__visible .services__item>* {
    opacity: 1;
    transform: translate(0);
}

.services .fade-elements .services__item>:first-child {
    transition-delay: .25s;
}

.services .fade-elements .services__item>* {
    opacity: 0;
    transform: translate(30px);
    transition: all .25s ease .25s;
    }

    .services__item--saas {
        background: #3d83df;
    }

    .services__item {
        border-radius: 10px;
        padding: 2em 2em 0;
        overflow: hidden;
        height: 345px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all .2s ease 0s;
    }
    .services__item h2 {
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1.2;
        margin: 0;
        color: #fff;
    }

    .services__item h1 {
        font-size: 1.625em;
        font-weight: 400;
        color: #fff;
        margin: 0.3em 0;
        }

        .services__item--clinics {
            background: #1b2734;
        }

        .services__item {
            border-radius: 10px;
            padding: 2em 2em 0;
            overflow: hidden;
            height: 345px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all .2s ease 0s;
            }

            select {
                writing-mode: horizontal-tb !important;
               
                text-rendering: auto;
                color: fieldtext;
                letter-spacing: normal;
                word-spacing: normal;
                line-height: normal;
                text-transform: none;
                text-indent: 0px;
                text-shadow: none;
                display: inline-block;
                text-align: start;
                appearance: auto;
                box-sizing: border-box;
                align-items: center;
                white-space: pre;
                -webkit-rtl-ordering: logical;
                background-color: field;
                cursor: default;
                margin: 0em;
                border-width: 1px;
                border-style: solid;
                border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
                border-image: initial;
                border-radius: 0px;
            }

            .services .style-select select {
                width: 100%;
                background: transparent;
                border: 0;
                border-radius: 0;
                padding: 0 2em 0 0;
                -webkit-appearance: none;
                outline: 0;
                text-transform: none;
                text-decoration: underline;
                cursor: pointer;
            }

            .style-select {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                outline: 0;
                border: 0;
                border-radius: 4px;
                background: #3d83df;
                font-family: Work Sans,Arial,sans-serif;
                color: #333;
                background: #fff;
                font-weight: 600;
                letter-spacing: .04em;
                font-size: .75rem;
                text-align: center;
                text-decoration: none!important;
                transition: all .2s ease 0s;
                cursor: pointer;
            }
            *, :after, :before {
                box-sizing: inherit;
            }
            .fade-elements>.fade-elements__visible {
                transform: translate(0);
                opacity: 1;
            }
            .fade-elements>* {
                opacity: 0;
                transform: translateY(30px);
                transition: all .35s ease 0s;
            }
            .col-3 {
                width: 33.33%;
            }

            [class*=col-] {
                float: left;
                min-height: 1px;
                padding: 10px;
            }
            *, :after, :before {
                box-sizing: inherit;
            }

            div {
                display: block;
            }

            .services {
                margin: 3.75rem auto 2.5rem;
            }
